h1 {
    color: blue;
    text-align: center;
}

#prizeInv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#prizeInv div {
    height: 100px;
    width: 100px;
    border: blue solid 1px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.prizeName {
    flex-grow: 1;
    background-color: blue;
    color: white;
    text-align: center;
    margin: 0px;
}

.prizeData {
    flex-grow: 1;
    color: white;
    background-color: blue;
    text-align: center;
    border-radius: 50px;
    margin: 0px;
    width: 50%;
    align-self: center;
}

#customers {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#customers div {
    color: blue;
    border: blue solid 1px;
    width: 150px;
    height: 200px;
}

#customers span {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0px;
}

#customers p {
    text-align: center;
    border-bottom: blue solid 1px;
}

